
.container{
    width: 900px;
    margin: auto;
}
.flex{
    display: flex;
    gap: 30px;
}
.cardsContainerFlex{
display: flex;
justify-content: space-between;
gap: 10px;
}
.imgServ {
    width: 150px;
    height: 150px;
}