* {
    text-decoration: none;
    margin: 0;
}

/* section header; logo, nav */
header {
    position: fixed;
    width: 100%;

    box-shadow: 2px 2px 22px -9px rgba(0, 0, 0, 0.2);
}

p {
    font-family: "Maitree", serif;
    font-weight: 400;
    font-style: normal;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    font-weight: bold;
    color: #303940;

    a {
        color: #303940;
    }

    ul {
        display: flex;
        gap: 20px;
        padding-right: 12px;
        list-style: none;
        font-family: "Rosario", sans-serif;
    }

}

/* Section hero */
#hero {
    background-image: url("https://images.unsplash.com/photo-1530124566582-a618bc2615dc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 100vh;
    text-shadow: 0 0px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: rgb(255, 255, 255);

}

.slogan {
    font-size: 25px;
    font-family: "Rosario", sans-serif;
}

.heroTitle {
    font-size: 50px;
    font-family: "Expletus Sans", sans-serif;
}

.logo {
    color: #303940;
    font-family: "Expletus Sans", sans-serif;
    font-size: 25px;
}

.bouton {
    background-color: rgb(255, 255, 255);
    color: #303940;
    border-radius: 5px;
    border: none;
    padding: 20px;
}

/* les titres en generale */
.titles {
    text-align: center;
    padding: 35px;
    color: #303940;
}

.titleCard {
    margin: 0px 0px 10px;
    color: #303940;
}

.noteTem {
    color: #303940;
}

.cardsContainerFlex {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 10px;
}

.imgServ {
    width: 100%;
}

/* section avantage */

#avantages {
    height: 250px;
    width: 100%;
}

/* section temoignages */
.temCont {
    box-shadow: 0px 0px 8px rgba(184, 171, 171, 0.893);
}

/* style cartes generales */
.carte {
    /* box-shadow: 0px 0px 8px rgba(184, 171, 171, 0.893); */
    width: 20%;
    border-radius: 13px;
    padding: 15px;
    margin: 0px 15px 0px 15px;
    line-height: 25px;
}

/* flexbox generale */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* footer section */
footer {
    border-top: 1px solid;
    margin-top: 20vh;
}

#copyright {
    display: flex;
    justify-content: space-between;
}

#bottomLinks {
    display: flex;
}

.listFooter {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-weight: bold;
    color: #303940;

    a {
        color: #303940;
    }

    ul {
        gap: 20px;
        padding-right: 12px;
        list-style: none;
        color: #303940;
    }
}