* {
    text-decoration: none;
    margin: 0;
    /* font-family: "DM Sans", sans-serif; */
}

/* section header; logo, nav */
nav {
    display: flex;
    justify-content: space-between;
    /* background-color: #424e42; */
    background-color: #303940;
    padding: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);

    a {
        color: rgb(255, 255, 255);
    }

    ul {
        display: flex;
        gap: 20px;
        padding-right: 12px;
        list-style: none;
    }

}


#hero {
    background-image: url("https://images.unsplash.com/photo-1530124566582-a618bc2615dc?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: rgb(255, 255, 255);

    .heroTitle {
        font-size: 50px;
    }

    .slogan {
        font-size: 25px;
    }

    .boutonHero {
        background-color: rgb(255, 255, 255);
        color: rgb(14, 14, 14);
    }
}


.cardsContainerFlex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.imgServ {
    width: 150px;
    height: 150px;
}